  {{#each cards as |card|}}
    <div>
      <p>Card ID : {{card.id}}</p>
      <p>Card Name : {{card.cardName}}</p>
      <p>Card Type : {{card.cardType}}</p>
      <p>Front : {{card.frontNum}}</p>
      <p>Right : {{card.rightNum}}</p>
      <p>Back : {{card.backNum}}</p>
      <p>Left : {{card.leftNum}}</p><br>
    </div>
  {{/each}}