    <div>
      <p>Card ID : {{id}}</p>
      <p>Card Name : {{cardName}}</p>
      <p>Card Type : {{cardType}}</p>
      <p>Front : {{frontNum}}</p>
      <p>Right : {{rightNum}}</p>
      <p>Back : {{backNum}}</p>
      <p>Left : {{leftNum}}</p><br>
      <img src="/images/backgrounds/{{backGround}}">
      <img src="/images/sprites/{{fileName}}">
      {{> newCard}}
    </div>
